fieldset.form-group > legend.col-form-label {
	display: none;
}

.panel > .panel-body > .form-group > div {
	display: grid;
	grid-template-columns: 50% 10% 10% 10% 10% 10%;
}

.panel-body > .form-group > div {
	border: 1px black solid;
	padding: 0 20px 0 20px;
}

.form-check {
	padding-top: 35px;
	padding-left: 25px;
}