
{% extends 'base.html.twig' %}

{% block title %}Promoted games - news list{% endblock %}

{% block body %}
<link rel="stylesheet" type="text/css" href="/css/PromotedGamesProfilesForm.css">

<section class="jumbotron">
	{{ form_start(form) }}
        <div id="profiles_list" data-prototype="{{ form_row(form.profile.vars.prototype)|e('html_attr') }}">
            {% for row in form.profile %}
                <div class="panel panel-warning">
                    <div class="panel-body">
                        {{ form_row(row) }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {{ form_end(form) }}
</section>

<script type="text/javascript">
var profiles = JSON.parse({{ json|json_encode()|raw }});
console.log(profiles);
$(document).ready(function () {
    $collectionHolder = $('#profiles_list');
    profiles.forEach(function(profile) {
        var prototype = $collectionHolder.data('prototype');
        var index = profile.id;
        var newForm = prototype;
        newForm = newForm.replace(/__name__/g, index);
        var $panel = $('<div class="panel panel-warning"><div class="panel-heading"></div></div>');
        var $panelBody = $('<div class="panel-body"></div>').append(newForm);
        $panel.append($panelBody);
        $('#profiles_management_profile').before($panel);

        $("#profiles_management_profile_"+index+"_GameName").val(profile.GameName);
        $("#profiles_management_profile_"+index+"_Language").val(profile.Language);
        $("#profiles_management_profile_"+index+"_Pictures").prop('checked', profile.Pictures);
        $("#profiles_management_profile_"+index+"_Avatar").prop('checked', profile.Avatar);
        $("#profiles_management_profile_"+index+"_News").prop('checked', profile.News);
        $("#profiles_management_profile_"+index+"_Forum").prop('checked', profile.Forum);
        $("#profiles_management_profile_"+index+"_Description").prop('checked', profile.Description);
    });
});

</script>

{% endblock %}
