{% extends 'base.html.twig' %}

{% block title %}Promoted games{% endblock %}

{% block body %}
<section class="jumbotron">
	<a class="btn btn-info" href="/games/profiles/fr">France</a>
	<a class="btn btn-info" href="/games/profiles/de">Germany</a>
	<a class="btn btn-info" href="/games/profiles/it">Italy</a>
	<a class="btn btn-info" href="/games/profiles/es">Spain</a>

	<a class="btn btn-info" href="/games/profiles/ru">Russia</a>

	<a class="btn btn-info" href="/games/profiles/en">Global</a>

	<a class="btn btn-info" href="/games/profiles/pl">Poland</a>

	<a class="btn btn-success" href="/games/refresh">Refresh games list</a>
</section>
{% endblock %}
