{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Admin panel{% endblock %}

{% block body %}
    {% for category in ingredientCategories %}
        <section class="jumbotron">
            <h3>{{ category }}</h3>
            <a href="{{ path('admin_category_delete', {'categoryId': category.id}) }}" class="btn btn-danger btn-sm">DELETE</a>
            <div>
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Order</th>
                        <th>Action</th>
                    </tr>
                {% for ingredient in ingredientsFromCategory[category.id] %}
                     <tr>
                         <td>{{ ingredient }}</td>
                         <td>{{ ingredient.listOrder }}</td>
                         <td><a href="{{ path('admin_ingredient_delete', {'ingredientId': ingredient.id}) }}" class="btn btn-danger btn-sm">DELETE</a></td>
                     </tr>
                {% endfor %}
                </table>
            </div>
            <div>
                {{ form(ingredientForms[category.id]) }}
            </div>
        </section>
    {% endfor %}
    <section>
        <h2>Add new category</h2>
        {{ form(formCategory) }}
    </section>
{% endblock %}
