{% extends 'base.html.twig' %}

{% block title %}Screens - average delays{% endblock %}

{% block body %}
<style>
.jumbotron { background-color: white; }
#form_avg_range {
	padding-bottom: 1em;
}
#form_avg_range form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#form_avg_range .form-group {
	width: 50%;
}
</style>
<section class="jumbotron">
	<p>
	  <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#form_avg_range" aria-expanded="false" aria-controls="form_avg_range">
	    Set date range
	  </button>
	</p>
	<div id="form_avg_range" class="collapse" >
		{{ form_start(form) }}
			{{ form_row(form.date_start) }}
			{{ form_row(form.date_stop) }}
		{{ form_end(form) }}
	</div>
	<table border="1" style="text-align: center; float: left;"> 
		<tr>
			<th>
				Month
			</th>
			<th>
				Dogry
			</th>
			<th>
				Gamekit
			</th>
		</tr>
		{% for monthly in delay.monthly %}
			<tr>
				<td>
					{{ monthly.Date }}
				</td>
				<td>
					{{ monthly.DG }}
				</td>
				<td>
					{{ monthly.GK }}
				</td>
			</tr>
		{% endfor %}
	</table>
	<table border="1" style="text-align: center; float: left;"> 
		<tr>
			<th>
				Day
			</th>
			<th>
				Dogry
			</th>
			<th>
				Gamekit
			</th>
		</tr>
		{% for daily in delay.daily %}
			<tr>
				<td>
					{{ daily.Date }}
				</td>
				<td>
					{{ daily.DG }}
				</td>
				<td>
					{{ daily.GK }}
				</td>
			</tr>
		{% endfor %}
	</table>
</section>
{% endblock %}
