{% extends 'base.html.twig' %}

{% block title %}Screens - average delays{% endblock %}

{% block body %}
<style>
.jumbotron { background-color: white; }
</style>
<section class="jumbotron">
	<table border="1" style="text-align: center; float: left;">
		<tr>
			<th>
				Dogry
			</th>
			<th>
				Gamekit
			</th>
		</tr>
			<tr>
				<td>
					{{ delay.total[0].DG }}
				</td>
				<td>
					{{ delay.total[0].GK }}
				</td>
			</tr>
	</table>
	<table border="1" style="text-align: center; float: left;"> 
		<tr>
			<th>
				Day
			</th>
			<th>
				Dogry
			</th>
			<th>
				Gamekit
			</th>
		</tr>
		{% for daily in delay.daily %}
			<tr>
				<td>
					{{ daily.Date }}
				</td>
				<td>
					{{ daily.DG }}
				</td>
				<td>
					{{ daily.GK }}
				</td>
			</tr>
		{% endfor %}
	</table>
</section>
{% endblock %}
