{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Admin panel{% endblock %}

{% block body %}
    {% for category in foodCategories %}
    <section class="jumbotron" id="{{ category }}">
        <h2>{{ category }}</h2>
        {{ dump(sizesInCategory) }}
        <div class="row p-0 m-0">
            {% for i in 0..sizesInCategory %}
                <div class="col border m-0 p-0">
                    {{ form(sizeForms[category.id][i]) }}
                </div>
            {% endfor %}
            <div class="col border m-0 p-0">
                {{ form(sizeForms[category.id].new) }}
            </div>
        </div>
        {% for food in foodFromCategory[category.id] %}
            <div class="mb-4 border">
                <div>
                    <b>{{ food }}</b>
                    {% for ingredients in food.ingredients %}
                        {{ ingredients }},
                    {% endfor %}
                </div>
                <div class="row p-0 m-0">
                    <div class="col border p-0 m-0">input 1</div>
                    <div class="col border p-0 m-0">input 2</div>
                </div>
            </div>
        {% endfor %}
    </section>
    {% endfor %}
{% endblock %}
